/subnet
/bin/*
/pkg/*
/src/gopkg.in/*
/src/sourcegraph.com/*
/src/github.com/alecthomas/*
/src/github.com/derekparker/*
/src/github.com/nicksnyder/*
/src/github.com/nsf/*
/src/github.com/rogpeppe/*
/src/github.com/sqs/*
/src/github.com/zmb3/*

/ca.crt
/ca.pem
/ca.priv
/localhost.certPEM
/localhost.keyPEM
