/bin/*
/pkg/*
/vendor/src/gopkg.in/*
/vendor/src/sourcegraph.com/*
/vendor/src/github.com/alecthomas/*
/vendor/src/github.com/derekparker/*
/vendor/src/github.com/nicksnyder/*
/vendor/src/github.com/nsf/*
/vendor/src/github.com/rogpeppe/*
/vendor/src/github.com/sqs/*
/vendor/src/github.com/zmb3/*

/ca.crt
/ca.pem
/ca.priv
/localhost.certPEM
/localhost.keyPEM
